<html>
    <head>
        <title> about</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
      <div class="main-content">
            {{>header}}
         

        <img class="potrait" src="/images/clock.png">
        </div>
        {{>footer}}
    </body>
</html>