<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p> {{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>